* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;
  color: #383838;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

* body section {
  height: 100vh;
  width: 100vw;
}

* body canvas {
  display: block;
}

.themed-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing {
  color: white;
  width: 100%;
  height: 100%;
}

.landing #particles {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.landing .nav {
  position: absolute;
  top: 3%;
  left: 1.5%;
  background-color: none;
  display: block;
}

.landing .nav .nav-list li {
  padding: 0.25vw;
  list-style-type: none;
}

.landing .nav .nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.4vw;
}

.landing .nav .nav-links:hover {
  color: white;
}

.landing .title {
  position: absolute;
  top: 30%;
  left: 25%;
  height: 25vh;
  width: 50vw;
  text-align: center;
  font-size: 7vw;
}

.landing .title .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .title .name .last {
  color: rgba(255, 255, 255, 0.75);
  font-weight: bolder;
}

.landing .title .sub {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 9vw;
  width: 100%;
  font-size: 50%;
  text-align: center;
}

.about {
  background-color: #ffffff;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15vh;
}

.about .about-content {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-content .about-title {
  font-size: 2.5vw;
  padding-bottom: 4vh;
  width: 15vw;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills-border {
  border-radius: 1vw;
  padding: 0.5vw;
}

.skills .skills-border .skills-container {
  display: -ms-grid;
  display: grid;
  width: 78vw;
  height: 80vh;
  -ms-grid-columns: 26vw 26vw 26vw;
      grid-template-columns: 26vw 26vw 26vw;
  background-color: white;
  border-radius: 0.75vw;
  padding: 5vh 0 5vh 0;
}

.skills .skills-border .skills-container .skills-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5vw;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills-border .skills-container .skills-pannel .top,
.skills .skills-border .skills-container .skills-pannel .middle,
.skills .skills-border .skills-container .skills-pannel .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 2.5vw;
}

.skills .skills-border .skills-container .skills-pannel .top {
  height: 10%;
}

.skills .skills-border .skills-container .skills-pannel .middle {
  height: 20%;
  padding: 5%;
}

.skills .skills-border .skills-container .skills-pannel .middle img {
  height: 70%;
}

.skills .skills-border .skills-container .skills-pannel .bottom {
  height: 70%;
  font-size: 0.8vw;
  padding: 0 10% 10% 10%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .skills-border .skills-container .skills-pannel .bottom ul {
  list-style: none;
}

.skills .skills-border .skills-container .design {
  border-left: 0.001vw solid #adadad;
  border-right: 0.001vw solid #adadad;
}

@media screen and (max-width: 1350px) {
  .landing {
    padding: 0;
  }
  .landing .nav {
    width: 10vw;
    height: 100vh;
    padding-top: 10vh;
    margin-left: -100vw;
    margin-top: -3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .landing .nav .nav-list li {
    padding: 3vh 0;
    list-style-type: none;
    text-align: center;
  }
  .landing .nav .nav-links {
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.75);
  }
  .landing .nav .nav-links:hover {
    color: white;
  }
  .landing .nav.open {
    width: 100vw;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: -1.5vw;
    margin-top: -3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 75%;
  }
  .landing .nav-toggle {
    position: absolute;
    left: 85vw;
    top: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7vh;
    width: 7vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 2;
  }
  .landing .nav-toggle .toggle-button {
    width: 5vh;
    height: 0.5vh;
    background-color: white;
    border-radius: 0.5vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .landing .nav-toggle .toggle-button::before, .landing .nav-toggle .toggle-button::after {
    content: "";
    position: absolute;
    width: 5vh;
    height: 0.5vh;
    background-color: white;
    border-radius: 0.5hw;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .landing .nav-toggle .toggle-button::before {
    -webkit-transform: translateY(-1.3vh);
            transform: translateY(-1.3vh);
  }
  .landing .nav-toggle .toggle-button::after {
    -webkit-transform: translateY(1.3vh);
            transform: translateY(1.3vh);
  }
  .landing .nav-toggle.open .toggle-button {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    width: 0vw;
  }
  .landing .nav-toggle.open .toggle-button::before {
    -webkit-transform: rotate(45deg) translate(-1.85vh, 1.85vh);
            transform: rotate(45deg) translate(-1.85vh, 1.85vh);
    width: 5.5vh;
  }
  .landing .nav-toggle.open .toggle-button::after {
    -webkit-transform: rotate(135deg) translate(1.85vh, 1.85vh);
            transform: rotate(135deg) translate(1.85vh, 1.85vh);
    width: 5.5vh;
  }
  .landing .title {
    font-size: 8vh;
  }
  .landing .title .sub {
    top: 20vw;
    font-size: 3vh;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    padding: 0vh;
  }
  .about .about-content {
    height: 100%;
    width: 60vw;
    padding-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 2.5vh;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .about .about-content .about-title {
    width: auto;
    font-size: 6vh;
    padding: 3vh;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fafafa;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 235vh;
  }
  .skills .skills-border {
    border-radius: 1vw;
    padding: 0.5vw;
  }
  .skills .skills-border .skills-container {
    display: -ms-grid;
    display: grid;
    width: 80vw;
    height: 225vh;
    -ms-grid-columns: 80vw;
        grid-template-columns: 80vw;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    border-radius: 0.75vw;
    padding: 0;
  }
  .skills .skills-border .skills-container .skills-pannel {
    width: 70vw;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3vh;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .skills-border .skills-container .skills-pannel .top,
  .skills .skills-border .skills-container .skills-pannel .middle,
  .skills .skills-border .skills-container .skills-pannel .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 6vh;
  }
  .skills .skills-border .skills-container .skills-pannel .top {
    height: 10%;
  }
  .skills .skills-border .skills-container .skills-pannel .middle {
    height: 14vh;
    padding: 5%;
  }
  .skills .skills-border .skills-container .skills-pannel .middle img {
    height: 70%;
  }
  .skills .skills-border .skills-container .skills-pannel .bottom {
    height: 70%;
    font-size: 1.6vh;
    padding: 0 10% 10% 10%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills .skills-border .skills-container .skills-pannel .bottom ul {
    list-style: none;
  }
  .skills .skills-border .skills-container .design {
    border-top: 0.01vw solid #adadad;
    border-bottom: 0.01vw solid #adadad;
  }
}
/*# sourceMappingURL=style.css.map */